body {
    background-color: #fff
}

::-webkit-scrollbar {
    width: 15px
}

::-webkit-scrollbar-track {
    background: #eee
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}


.muted-text {
    color: #aeb6bd;
}

.scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
}

.img1 {
    border-radius: 50%;
    background-color: #66BB6A
}

.name {
    font-size: 11px
}

.msg {
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 400
}

.between {
    font-size: 12px;
    font-weight: 500;
    color: #a09e9e
}

.form-control {
    font-size: 14px;
    font-weight: 400;
    width: 230px;
    height: 30px;
    border: none
}

.form-control:focus {
    box-shadow: none !important
}

.icon1 {
    color: #7C4DFF !important;
    font-size: 18px !important;
    cursor: pointer;
}

.icondiv {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 2px;
    position: relative;
    bottom: 1px
}   

@media only screen and (max-width: 576px) {
    .h-sm-50{
        height: 50% !important;
    }

    .w-sm-80{
        width: 80% !important;
    }

    .m-sm-10{
        margin-top: 10px !important;
    }
}

@media only screen and (max-width: 768px) {
    .h-md-50{
        height: 50% !important;
    }

    .w-md-80{
        width: 80% !important;
    }

    .h-md-75{
        height: 75% !important;
    }
}

@media only screen and (max-width: 992px) {
    .h-lg-75{
        height: 75% !important;
    }
}

@media only screen and (max-width: 1200px) {
    .h-xl-75{
        height: 75% !important;
    }
}